body {
    background-color: #ffffff;
    color: #d91e1e;
}
.navbar {
    background-color: #1c1c1c;
}
.navbar-nav .nav-link {
    color: #e22828;
}
.navbar-nav .nav-link:hover {
    color: #e31818;
}