{% extends "main/index.html" %}


{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f4f4f4;
        padding: 10px 20px;
    }

    header a {
        text-decoration: none;
        color: #333;
        margin-left: 15px;
    }

    header a:first-child {
        margin-left: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .form-group {
        margin: 10px 0;
    }

    table {
        display: none;
        border-collapse: collapse;
        margin-top: 20px;
        width: 100%;
        max-width: 800px;
    }

    table, th, td {
        border: 1px solid #ddd;
        text-align: center;
    }

    th, td {
        padding: 10px;
    }

    th {
        background-color: #f9f9f9;
    }

    .no-classes {
        background-color: #f4f4f4;
        color: #999;
    }

    th.vertical {
        writing-mode: vertical-rl; /* Вертикальний текст */
        transform: rotate(180deg); /* Повертає текст */
    }

    /* Горизонтальний текст для "Предмет" і "Викладач" */
    th.horizontal {
        writing-mode: horizontal-tb;
        transform: none;
        height: auto; /* Звичайна висота */
    }
    .group-dropbox{
        display: flex;
        justify-content: space-between;
    }
    .wtf{
        margin-right:5px;
    }
    .knopku{
        margin: 5px;
    }
</style>
<main>
    <h1>Розклад занять</h1>
    <div class="form-group">
        <label for="faculty">Факультет:</label>
        <select  name="faculty"
        hx-get="{% url 'groups' %}"
        hx-trigger="change"
        hx-target="#groups">

            <option selected>Виберіть факультет</option>
            {% for faculty in facultys %}
                <option value="{{faculty.pk}}">{{ faculty }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <div class="group-dropbox">
            <label class="wtf" for="group">Група:</label>
            <div  id="groups">
                {% include 'main/groups.html' %} 
            </div>
        </div>    
    </div>
    <button class="knopku" id="show-schedule-grafik">Показати графік навчання</button>
    <button class="knopku" id="show-schedule">Показати розклад</button>
    <button class="knopku" id="show-schedule-plan">Показати робочий навчальний план</button>
    <div id="predmet">
        {% include 'main/predmet.html' %} 
    </div>
</main>

{% endblock  %}