<table id="schedule">
    <thead>
        <tr>
            <th>Пара</th>
            <th>Понеділок</th>
            <th>Вівторок</th>
            <th>Середа</th>
            <th>Четвер</th>
            <th>П'ятниця</th>
            <th>Субота</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 пара</td>
            <td>{{predmet.ponedilok_1_para|default_if_none:''}}</td> 
            <td>{{predmet.vivtorok_1_para|default_if_none:''}}</td>
            <td>{{predmet.sereda_1_para|default_if_none:''}}</td>
            <td>{{predmet.chetver_1_para|default_if_none:''}}</td>
            <td>{{predmet.pyatnytsya_1_para|default_if_none:''}}</td>
            <td>{{predmet.subota_1_para|default_if_none:''}}</td>
        </tr>
        <tr>
            <td>2 пара</td>
            <td>{{predmet.ponedilok_2_para|default_if_none:''}}</td> 
            <td>{{predmet.vivtorok_2_para|default_if_none:''}}</td>
            <td>{{predmet.sereda_2_para|default_if_none:''}}</td>
            <td>{{predmet.chetver_2_para|default_if_none:''}}</td>
            <td>{{predmet.pyatnytsya_2_para|default_if_none:''}}</td>
            <td>{{predmet.subota_2_para|default_if_none:''}}</td>
        </tr>
        <tr>
            <td>3 пара</td>
            <td>{{predmet.ponedilok_3_para|default_if_none:''}}</td> 
            <td>{{predmet.vivtorok_3_para|default_if_none:''}}</td>
            <td>{{predmet.sereda_3_para|default_if_none:''}}</td>
            <td>{{predmet.chetver_3_para|default_if_none:''}}</td>
            <td>{{predmet.pyatnytsya_3_para|default_if_none:''}}</td>
            <td>{{predmet.subota_3_para|default_if_none:''}}</td>
        </tr>
        <tr>
            <td>4 пара</td>
            <td>{{predmet.ponedilok_4_para|default_if_none:''}}</td> 
            <td>{{predmet.vivtorok_4_para|default_if_none:''}}</td>
            <td>{{predmet.sereda_4_para|default_if_none:''}}</td>
            <td>{{predmet.chetver_4_para|default_if_none:''}}</td>
            <td>{{predmet.pyatnytsya_4_para|default_if_none:''}}</td>
            <td>{{predmet.subota_4_para|default_if_none:''}}</td>
        </tr>
        <tr>
            <td>5 пара</td>
            <td>{{predmet.ponedilok_5_para|default_if_none:''}}</td> 
            <td>{{predmet.vivtorok_5_para|default_if_none:''}}</td>
            <td>{{predmet.sereda_5_para|default_if_none:''}}</td>
            <td>{{predmet.chetver_5_para|default_if_none:''}}</td>
            <td>{{predmet.pyatnytsya_5_para|default_if_none:''}}</td>
            <td>{{predmet.subota_5_para|default_if_none:''}}</td>
        </tr>
    </tbody>
</table>