{% extends "main/index.html" %}


{% block content %}
<h1><a href="{% url 'add_faculty' %}">Факультет</a></h1>
<h1><a href="{% url 'add_kafedra' %}">Кафедра</a></h1>
<h1><a href="{% url 'list_educational_programs' %}">Освітньо-професійна програма</a></h1>
<h1><a href="{% url 'group_list' %}">Група</a></h1>
<h1><a href="{% url 'vukladach_list' %}">Викладач</a></h1>
<h1><a href="{% url 'list_robochiy_navchalnuy_plans' %}">Робочий навчальний план</a></h1>
<h1><a href="{% url 'list_rozklad' %}">Розклад</a></h1>
<h1><a href="{% url 'grafik_navchannya_list' %}">Графік навчання</a></h1>
<!--
<h1>Додати факультет</h1>
<h1>Додати кафедру</h1>
<h1>Додати групу</h1>
<h1>Додати предмет</h1>
<h1>Додати викладача</h1>
<h1>Змінити розклад</h1>
-->
{% endblock  %}