{% extends "main/index.html" %}


{% block content %}
<h1><a href="{% url 'add_faculty' %}">Додати факультет</a></h1>
<h1><a href="{% url 'add_kafedra' %}">Додати кафедру</a></h1>
<h1><a href="{% url 'list_educational_programs' %}">Додати освітньо-професійну програму</a></h1>
<h1><a href="{% url 'group_list' %}">Додати групу</a></h1>
<h1><a href="{% url 'vukladach_list' %}">Додати викладача</a></h1>
<h1><a href="{% url 'list_robochiy_navchalnuy_plans' %}">Додати робочий навчальний план</a></h1>
<h1><a href="{% url 'list_rozklad' %}">Додати розклад</a></h1>
<!--
<h1>Додати факультет</h1>
<h1>Додати кафедру</h1>
<h1>Додати групу</h1>
<h1>Додати предмет</h1>
<h1>Додати викладача</h1>
<h1>Змінити розклад</h1>
-->
{% endblock  %}