{% extends "main/index.html" %}

{% block content %}
    <div class="card">
        <div class="card-header card-header-secondary">
            <h4 class="card-title">Освітньо-професійні програми</h4>
            <a href="{% url 'create_educational_programs' %}">Додати освітньо-професійну програму</a>
        </div>
        <ul>
            {% for educational_program in educational_programs %}
                <li class="card-body">{{ educational_program.title }} | <a href="{% url 'update_educational_programs' educational_program.id %}">Edit</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}